<h1>Hello World</h1>
<div>
<h2>Europe</h2>
<p>Situated mainly in the northern hemisphere</p>
</div>
<img src="https://european-union.europa.eu/sites/default/files/styles/embed_large_2x/public/2021-09/european-map_en_0.jpg?itok=vn-a2eu9" alt="europe"/>